.slider h1 {
  margin-bottom: 20px;
  font-size: 7rem;
  font-weight: bold;
  transform: scale(0.8);
  transition: all 1s;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.slider button {
  padding: 16px 40px;
  font-size: 18px;
  border: none;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.slider button:hover {
  background-color: white;
  color: black;
}
