.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  height: 100%;
}
.text_wrapper {
  height: 300px;
  display: flex;
  justify-content: center;
  align-self: center;
}
.text_wrapper h1 {
  font-size: 4rem;
  color: #fff;
  text-shadow: 4px 4px 15px rgba(150, 150, 150, 0.83);
}
.container {
  min-height: 500px;
  background: black;
}
